nav {
  background-color: #03a9f4;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 1.1rem;
}

li {
  line-height: 3em;
  margin-left: 3rem;
  width: 10rem;
  text-align: center;
}

a {
  color: gainsboro;
  text-decoration: none;
}

.active {
  display: flex;
  justify-content: center;
  background-color: #0383f4;
  color: whitesmoke;
}